bidict
certifi
cffi
charset-normalizer
click
colorama
dnspython
eventlet
Flask
Flask-SocketIO
greenlet
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
pycparser
python-engineio
python-socketio
requests
six
typing-extensions
urllib3
Werkzeug
zipp
zope.event
zope.interface
